@page
@model FP_DanielAizenband_Server.Pages.QueryRes.Query5Model
@{
    ViewData["Title"] = "Quereis result page- Query5";
}
<h1>Results</h1>

<table class="table-bordered" style="border-collapse:initial; border-spacing:8px; border:1px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerGameTbl[0].TblP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerGameTbl[0].NumOfGames)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PlayerGameTbl)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TblP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfGames)
                </td>

            </tr>
        }
    </tbody>
</table>