@page
@model FP_DanielAizenband_Server.Pages.QueryRes.QueryResNumModel
@{
    ViewData["Title"] = "Quereis result page- Game";
}

<h1>Results</h1>

<table class="table-bordered" style="border-collapse:separate; border-spacing:8px; border:1px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerGame[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerGame[0].NumOfGames)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PlayerGame)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfGames)
            </td>
        </tr>
        }
    </tbody>
</table>