@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<h3 style="font:italic; color:dimgray">FINAL PROJECT .NET - TIC TAC TOE 5x5</h3>
<table class="border-top" style="border-spacing: 8px; border:2px">
    <tr>
        <td><p style="font-size:24px">The assignment is due to: 21.08.21</p> </td>
    </tr>
    <tr>
        <td>
            <p style="font-size:20px; font-style:italic">Author: Daniel Aizenband</p>
        </td>
        <td>
            <p style="font-size:20px; font-style:italic">Id: 205455520</p>
        </td>
    </tr>
</table>
