@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-2" style="font-style:italic">Welcome</h1>
    <h2 class="display-4" style="color:crimson">
        This is THE BEST GAME you will EVER play.
    </h2>
    <br />
    <img src="~/images/Welcome.jpeg" title="BEST GAME EVER!!!" />
    <p style="color:green; font:bold 22px arial;padding:10px">
        In order to play you first need to <a href="./Players/Create">Sign Up</a>.
    </p>
    <p style="color:crimson; font:bold 22px arial;padding:10px">
        Go to quiries page <a href="./Quireis">from here</a>.
    </p>


</div>
