@page
@model FP_DanielAizenband_Server.Pages.SignUp.SignUpModel
@{
    ViewData["Title"] = "Sign up page";
}

<div class="text-center">
    <h1 class="display-2" style="font-style:italic">Registered Successfully!</h1>
    <h4>Thank you for joining our team!</h4>
    <div class="text-lg-center">
        <p>Press <a href="../">here</a> to return to the home page</p>
    </div>
</div>
